@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	padding-top: 25%;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

button {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}